<div class="custom-fields">
    <?php
    if(isset($allCustomFields)) {
        foreach ($allCustomFields as $customFields) {
            $startRow = 0;
            foreach ($customFields["fields"] as $field) {
                if(!array_key_exists("width", $field)) {
                    $field["width"] = 12;
                }
                if($startRow == 0) {
                    echo '<div class="row">';
                }
                $startRow += (int)$field["width"];

                echo '<div class="col-sm-' . $field['width'] .'" form-group text-field span-full">';
                if(array_key_exists("label", $field)){
                    echo '<label>' . $field['label'] . '</label>';
                }
                if(array_key_exists("type", $field)){
                    switch($field['type']){
                        case "repeater":



                        break;
                        case "image":
                            echo '<div class="field-mediafinder style-image-single is-image " data-control="mediafinder" data-disposable="">

                                <!-- Find Button -->
                                <a href="javascript:;" class="find-button">
                                    <span class="find-button-icon oc-icon-image"></span>
                                </a>

                                <!-- Existing value -->
                                <div class="find-object">
                                    <div class="icon-container">
                                        <img data-find-image="" src="" alt="">
                                    </div>
                                    <div class="info">
                                        <h4 class="filename">
                                            <span data-find-file-name=""></span>
                                            <a href="javascript:;" class="find-remove-button">
                                                <i class="icon-times"></i>
                                            </a>
                                        </h4>
                                    </div>
                                </div>

                                <!-- Data locker -->
                                <input type="hidden" name="settings[image]" id="Form-formPageb60415bb486b3eb849523d114f98317f5796371f301ec-field-settings-image" value="" data-find-value="">
                            </div>';

                        break;
                        case "text":
                        default:
                            echo '<input type="text" name="" value="" class="form-control" />';
                    }
                }

                if(array_key_exists("comment", $field)){
                    echo '<p class="help-block">' . $field["comment"] . '</p>';
                }
                echo '</div>';

                if($startRow == 12){
                    echo '</div><!-- end row -->';
                    $startRow = 0;
                }
            }
        }
    } ?>

</div>



