<div class="custom-fields">
    <?php
    if(isset($allCustomFields)) {
        foreach ($allCustomFields as $CustomFieldsName => $customFields) {
            $startRow = 0;
            foreach ($customFields["fields"] as $fieldName => $field) {
                $field['id'] = $CustomFieldsName . '-' .$fieldName;
                if(!array_key_exists("width", $field)) {
                    $field["width"] = 12;
                }
                if($startRow == 0) {
                    echo '<div class="row">';
                }
                $startRow += (int)$field["width"];

                echo '<div id="'. $field['id'] .'" class="col-sm-' . $field['width'] .' form-group '. $field['type'] .'-field span-full">';

                if(array_key_exists("type", $field)){
                    switch($field['type']){
                        case "repeater":
                            $this->fieldRepeater($field);
                        break;
                        case "dropdown":
                            $this->fieldDropdown($field);
                        break;
                        case "checkbox":
                            $this->fieldCheckbox($field);
                        break;
                        case "switch":
                            $this->fieldSwitch($field);
                        break;
                        case "radio":
                            $this->fieldRadio($field);
                        break;
                        case "checkboxlist":
                            $this->fieldCheckboxlist($field);
                        break;
                        case "image":
                            $this->fieldImage($field);
                        break;
                        case "text":
                        default:
                            $this->fieldText($field);
                    }
                }
                echo '</div>';

                if($startRow == 12){
                    echo '</div><!-- end row -->';
                    $startRow = 0;
                }
            }
        }
    } ?>

</div>



